<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登陆界面</title>
</head>
<body>
	登陆界面
	<img src="./showImg" alt=""><br>
	收到参数：email是{email}<br/>
	密码是：{pwd}<br>
	<form action="./sign_in" method="post">
		<table align="center">
			<tr>
				<td>email：</td>
				<td><input type="text" name="email"></td>
			</tr>
			<tr>
				<td>密码：</td>
				<td><input type="password" name="pwd"></td>
			</tr>
			<tr>
				<td><input type="submit" type="submit"></td>
			</tr>
			
		</table>
		
	</form>
</body>
</html>
